[submodule "aos-bootloader"]
	path = aos-bootloader
	url = ./aos-bootloader
[submodule "aos-uefi"]
	path = aos-uefi
	url = ./aos-uefi
[submodule "aos-uefi-wrappers"]
	path = aos-uefi-wrappers
	url = ../aos-uefi-wrappers
